<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-auto">
        <form class="rounded shadow p-5 m-5 registerform" [formGroup]="registerForm" (ngSubmit)="userRegister()" >
          <h1>User Registration</h1>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" autocomplete="off"  placeholder="Enter username" formControlName="username">
                  <small id="emailHelp" class="form-text text-danger" *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched" >
                    <span  *ngIf="registerForm.get('username').errors['required']">
                      Please enter valid username
                    </span>
                    <span *ngIf="registerForm.get('username').errors['notallowedname']">
                      {{registerForm.get('username').value}} is not allowed
                    </span>
                    <span *ngIf="registerForm.get('username').errors['minlength']">
                      username length must be more than 2 character
                    </span>
                  </small>
                </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email"  autocomplete="off" placeholder="Enter email" formControlName="email">
                <small id="emailHelp" class="form-text text-danger" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                  <span *ngIf="registerForm.get('email').errors['email']">
                    Please enter valid email
                  </span>
                  <span *ngIf="registerForm.get('email').errors['emailnotallowed']">
                    the email address {{registerForm.get('email').value}} is not allowed
                  </span>
                  <span  *ngIf="registerForm.get('email').errors['required']">
                    Please enter valid email
                  </span>
                </small>
              </div>
  
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"  autocomplete="off" placeholder="Enter password" formControlName="password">
                <small id="passwordhelp" class="form-text text-danger" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter valid passowrd.</small>
              </div>
                 <div class="form-group">
                  <label for="cpassword">Confirmed Password</label>
                  <input type="password" class="form-control" id="cpassword"  autocomplete="off" placeholder="confirm password" formControlName="cpassword">
                  <small id="cpasswordhelp" class="form-text text-danger" *ngIf="!registerForm.get('cpassword').valid && registerForm.get('cpassword').touched">password did not matched</small>
                </div> 
                 <div class="form-group">
                    <label for="user_role">select user role</label>
                  <select class="form-control" id="user_role" formControlName="user_role">
                      <option value="">select role</option>
                      <option value="1">admin</option>
                      <option value="2">librarian</option>
                      <option value="3">reader</option>
                  </select>
                  <small id="emailHelp" class="form-text text-danger" *ngIf="!registerForm.get('user_role').valid && registerForm.get('user_role').touched">Please select role.</small>
                </div> 
    
              
                     <div class="form-check pb-2" *ngFor="let gender of genders">
                      <input class="form-check-input" type="radio"  id="{{gender.id}}" value="{{gender.id}}" formControlName="gender">
                      <label class="form-check-label" for="{{gender.id}}">{{gender.genderType}}</label>
                    </div> 
                  
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
         
              </form>
      </div>
   
      
      
      
    </div>
  </div>