            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Login</h4>
                            <button type="button" class="close pull-right btn" aria-label="Close" (click)="cancel()">
                              <span aria-hidden="true" class="btn-close"></span>
                            </button>
                          </div>
                        <form class="rounded p-3 m-3 p-xl-5 m-xl-5  LoginForm" [formGroup]="LoginForm" (ngSubmit)="userLogin()">
                            <div class="form-group pb-2">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" autocomplete="off" placeholder="Enter email"
                                    formControlName="email">


                                <small id="emailHelp" class="form-text text-danger"
                                    *ngIf="!LoginForm.get('email').valid && LoginForm.get('email').touched">
                                    <span *ngIf="LoginForm.get('email').errors['email']">

                                        Please enter valid email
                                    </span>
                                    <span *ngIf="LoginForm.get('email').errors['emailnotallowed']">
                                        the email address {{LoginForm.get('email').value}} is not allowed
                                    </span>
                                    <span *ngIf="LoginForm.get('email').errors['required']">
                                        email is required
                                    </span>
                                </small>

                            </div>


                            <div class="form-group pb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" autocomplete="off"
                                    placeholder="Enter password" formControlName="password">
                                <small id="passwordhelp" class="form-text text-danger"
                                    *ngIf="!LoginForm.get('password').valid && LoginForm.get('password').touched">Please enter valid
                                    passowrd.</small>
                            </div>

                            <button type="submit" class="btn btn-primary text-white mr-2" [disabled]="!LoginForm.valid">login</button>
                            <button type="button" class="btn btn-primary text-white" [disabled]="!LoginForm.valid" (click)="cancel()">cancel</button>
                        </form>
                   </div>
                    </div>


            </div>


           