
@import "../../../assets/styles/variables";

$navbar :$navbar;
$primary : $primary ;

button{

    color: $navbar;
    &:hover{
        color : #fff;
    }

}

button[type="submit"]{
    &:active{
        background-color: $primary;
    }
}