<div class="bg-topbar text-navbar ">
    <ul class=" text-light d-flex justify-content-center justify-content-md-end">
        <li>
            <a  href="#"><fa-icon [icon]="faSignIn"></fa-icon> Sign in
            </a>
          </li>
  
          <li >
            <a  href="#"><fa-icon [icon]="faSignOut"></fa-icon> Sign out</a>
          </li>
          <li >
            <a  href="#"><span class="badge rounded-pill bg-warning  px-3"><fa-icon [icon]="userCircle"></fa-icon> profile</span></a>
          </li>
    </ul>
</div>
<app-header></app-header>
<app-contactus></app-contactus>